body {
    padding-top: 10%;
    background: #b6b6b6;
	color:#FFF; 
	font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
	font-size:68px;
	text-align:center; 
    color: transparent;
    margin-bottom: 0;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 32px;
    margin-top: 0px;
}