@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);

body {
    width: 100%;
    background: #3D3D3D;
	color:#FFF; 
	font-family: 'open sans', sans-serif;
}

h1 {
    font-family: 'Sorts Mill Goudy', serif;
	font-size:48px;
	text-align:center; 
    font-style: italic;
    margin-bottom: 0;
    font-weight: bolder;
}

button {
    display: block;
    margin: auto;
    line-height: 38px;
    padding: 0 16px;
    border-radius: 18px;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

footer {
    margin-top: 32px !important;
    display: block;
    width: 90%;
    margin: auto;
    color: #aaa;
    font-weight: lighter;
}

.contact-us {
    float: right;
}